<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="accountDAO" class="com.example.exercise12_2.dao.IAccountDAO" abstract="true"></bean>
    <bean id="accountDAOImpl" class="com.example.exercise12_2.dao.AccountDAO" parent="accountDAO"></bean>


</beans>