<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="iProductService" class="com.example.exercise11_2.service.IProductService" abstract="true">
    </bean>
    <bean id="productService" class="com.example.exercise11_2.service.impl.ProductService" parent="iProductService">
        <property name="inventoryService" ref="inventoryServiceImpl" />
    </bean>

    <bean id="iInventoryService" class="com.example.exercise11_2.service.InventoryService" abstract="true"></bean>
    <bean id="inventoryServiceImpl" class="com.example.exercise11_2.service.impl.InventoryServiceImpl"
          parent="iInventoryService">
    </bean>
</beans>